@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Ubuntu:wght@300;500;700&display=swap');
body {
    background-color: #111;
    color: #EEE;
    font-family: "Roboto Slab", serif;
    font-size: 22px;
}

.my-form {
    padding: 20px;
}

.serie-frame {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid;
    border-color: #EEE;
    margin: 30px;
    padding: 10px;
}